<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h1>Car Database</h1>
    <a href="{{ url_for('cars') }}">View Cars</a> <br>
    <a href="{{ url_for('transmissions') }}">View transmission</a> <br>
    <a href="{{ url_for('engines') }}">View engines</a> <br>
    <a href="{{ url_for('models') }}">View models</a> <br>
    <a href="{{ url_for('model_types') }}">View model types</a> <br>
    <a href="{{ url_for('markets') }}">View markets</a> <br>
</body>
</html>
