<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
 <h2>Models</h2>
    <table>
        <thead>
            <tr>
                <th>Car Name</th>
                <th>Mileage km per litre</th>
                <th>Model</th>

            </tr>
        </thead>
        <tbody>
            {% for model in models %}
            <tr>
                <td>{{ model.Car_Name }}</td>
                <td>{{ model.Mileage_kmpl }}</td>
                <td>{{ model.Model }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>