<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h2>Transmissions</h2>
    <table>
        <thead>
            <tr>
                <th>Transmission ID</th>
                <th>Transmission</th>
                <th>Transmission Type</th>
            </tr>
        </thead>
        <tbody>
            {% for transmission in transmissions %}
            <tr>
                <td>{{ transmission.Transmission_id }}</td>
                <td>{{ transmission.Transmission }}</td>
                <td>{{ transmission.Transmission_Type }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
